* {
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: rgb(228, 224, 224);
}
html {
    display: flex;
    justify-content: center;

}


.main-el {
    font-size: 5rem;
    color: black;
    border: 1px solid black;

}